body {
  font-family: sans-serif, Arial;
  padding-top: 120px;
}
h1 {
  color: #3b3a3a;
  font-size: 28px;
  font-weight: 100;
  margin: 0;
}
ul {
  margin: 0 0 15px;
  padding: 0;
}
li {
  color: #3b3a3a;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style-type: none;
}
.weather-forecast {
  color: #3b3a3a;
  background-color: whitesmoke;
  border: 1px solid;
  padding: 25px;
  margin: 0 auto;
  border-radius: 14px;
  border-color: #59a8c0;
  max-width: 600px;
}
.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  position: relative;
  top: -18px;
}
.temperature {
  font-size: 64px;
  font-weight: 500;
  line-height: 1;
}
.units {
  position: relative;
  top: -32px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.search-form {
  margin-bottom: 20px;
}
p {
  display: block;
  text-align: center;
}
